{% extends 'music/base.html' %}

{% block title %}Album list{% endblock %}

{% block content %}
    <div class="album py-5 bg-light">
        <div class="container">
            {% if all_albums %}



                <h3>Here all my Albums</h3>
                <div class="row">
                    {% for album in all_albums %}
                        <div class="col-md-4">
                            <a href="{% url 'music:detail' album.id %}">
                                <div class="card mb-4 shadow-sm">

                                    <img src="{{ album.album_logo.url }}" style="width: 100%">

                                    <div class="card-body">
                                        <p class="card-text">{{ album.album_title }}</p>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <small class="text-muted">20.07.20</small>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <h3>You don't have any albums</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}
